<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.eto.justdoit"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18"/>

    <!-- creare permessi usa il tag permission-->
    <permission
        android:name="me.eto.justdoit.READ_TODOS"
        android:protectionLevel="normal"/>
    <permission
        android:name="me.eto.justdoit.WRITE_TODOS"
        android:protectionLevel="normal"/>

    <permission
        android:name="me.eto.justdoit.PRIVATE"
        android:protectionLevel="signatureOrSystem"/>


    <!-- ottenere permessi-->

    <uses-permission android:name="me.eto.justdoit.READ_TODOS"/>

    <uses-permission android:name="me.eto.justdoit.WRITE_TODOS"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- networking-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- gcm-->
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="me.eto.justdoit.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="me.eto.justdoit.permission.C2D_MESSAGE"/>
-->

    <application
        android:name=".globals.JustDoIt"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--
        <activity
            android:name=".DynamicFragmentsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".edit.EditTodo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="me.eto.justdoid.intent.action.ADD_TODO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.AutoTodoService"
            android:exported="false"/>

        <service
            android:name=".internet.NetworkClient"
            android:exported="false"/>

        <provider
            android:authorities="me.eto.justdoit.provider"
            android:name=".data.TodoProvider"
            android:exported="true"
            android:readPermission="me.eto.justdoit.READ_TODOS"
            android:writePermission="me.eto.justdoit.WRITE_TODOS"/>

        <receiver android:name=".receivers.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                        <!--android.net.wifi.STATE_CHANGE
android.net.wifi.WIFI_STATE_CHANGED
-->
            </intent-filter>
        </receiver>

        <service android:name=".network.GCMService"/>
    </application>

</manifest>
